<form class="{{cssClass}} item-form flexcol" autocomplete="off">
    <header class="sheet-header">
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" /></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div>
        <label>Damage</label>
        <input type="text" name="data.damage" value="{{data.damage}}"/>
      </div>
      <div>
        <label>Range</label>
        <input type="text" name="data.range" value="{{data.range}}"/>
      </div>
      <div>
        <label>Attacks</label>
        <input type="text" name="data.attacks" value="{{data.attacks}}"/>
      </div>
      <div>
        <label>Ammo</label>
        <input type="text" name="data.ammo" value="{{data.ammo}}"/>
      </div>
    </section>
</form>
